body {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    height: auto;
}

.welcome {
    grid-row-start: 1;
    grid-row-end: 2;
    background: url(../images/h_img.jpg);
    background-size: cover;
    color: white;
    left: 0;
    line-height: 50px;
    margin-top: 0px;
    padding-top: 12%;
    width: 100%;
    font-size: larger;
}


.welcome h3 {
    padding-top: 15px;
}

.welcome p {
    padding-top: 0px;
}

.about {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: black;
}
.s {
    grid-row-start: 3;
    grid-row-end: 4;
    background: url(../images/image9.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 7%;
    color: white;
}


.contact {
    background-image: url(../images/c_image.jpg);
    background-size: cover;
    color: white;
    padding-top: 50px;

}

#message {
    background-color: transparent;

}

#submit {
    background-color: transparent;
}

#name {
    background-color: transparent;
    padding-right: 25px;
    color: whitesmoke;
}

#email {
    background-color: transparent;
    color: black;
}

.contact-head {
    padding-bottom: 40px;
}

.footer {
    padding-top: 3%;
    padding-right: 20px;
}

.footer-text h5 {
    padding-top: 1%;
    padding-bottom: 0;
}

.footer-text h6 {
    padding-top: 20px;
}